<div class="container">
  <div class="custom">
    <h4>History</h4>
    <p>
    Every Thursday night between 9pm and 11pm, “Café Vienés” transforms into an exclusive Jazz Club. Great artists such as Woody Allen and his clarinet, the Yoshida Brothers, Eddy Davis, Conal Fowkes, Doc Scalon Trio, New Orleans Rag Trio or the Barcelona Swing Serenaders among others have all played on its stage.
    </p>
    <p>Hotel Casa Fuster was chosen by Woody Allen as one of the stages for the shooting of his Oscar-winning film Vicky, Cristina, Barcelona.</p>

    <p>The director of films like Annie Hall or Manhattan accompanied two of the most outstanding members of his ‘Woody Allen New Orleans Jazz Band’; Eddy Davis and Conal Fowkes on numerous occasions during the summer of film shooting in 2007, reminiscing the atmospheres of the best jazz clubs in New York at the Café Vienés of Hotel Casa Fuster 5* L.G. Monument for locals and tourists to enjoy. The jazz nights are still on going at the Café Vienés every Thursday from 9pm in the emblematic Café Vienés room.</p>
    <h4>Ticket options:</h4>
    <ul>
      <li>Ticket with Duke Ellington Menu – Complete dinner (see detailed menus): 100€ per person.</li>
      <li>Ticket with Louis Armstrong Tapas Menu – Tapas tasting menu (see detailed menus): 65€ per person
      <ul>
        <li>Includes 5 cold tapas, 5 hot tapas, dessert</li>
        <li>And spirits: glass of Moët & Chandon per person and ½ bottle of red wine</li>
        <li>The dishes vary every week according to the freshest market products.</li>
      </ul>
    </li>
    </ul>
    <p>Ticket with Slim & Slam Duet: 24€ per person
      Cover ticket: 19€ per person incl. one drink</p>
  </div>
</div>
