<div class="row">
  <div *ngFor="let person of people | async">
      <div class="card">
        <img class="card-img-top" src={{person.imageUrl}} alt="Card image cap">
        <div class="card-block">
          <h5><a (click)='goToDetailPerson(person)'>{{person.name}}</a></h5>
          <h6>{{person.category}}</h6>
          <h6>{{person.specialty}}</h6>
          <!-- <div *ngIf="currentRoute === '/admin'">
            <p class="card-text">
              {{person.description}}
            </p>
            <hr>
            <app-person-add [selectedPerson]="person"></app-person-add>
          </div> -->
        </div>
      </div>
  </div>
</div>
