
<div *ngFor="let person of people | async">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src={{person.imageUrl}} alt="Card image cap">
      <div class="card-block">
        <a (click)='goToDetailPerson(person)'>{{person.name}}</a>
        <!-- <div *ngIf="currentRoute === '/admin'">
          <p class="card-text">
            {{person.description}}
          </p>
          <hr>
          <app-person-add [selectedPerson]="person"></app-person-add>
        </div> -->
      </div>
    </div>
  </div>
</div>
